@media (max-width:700px) {

    /* custom CSS */
    section {
        padding: 30px;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
        color: #ffffff;
        font-weight: 100;
        padding: 50px;
        line-height: 1;
    }

    p {
        font-size: 17px;
        font-family: 'Questrial', sans-serif;
        color: #ffffff;
        font-weight: 100;
        line-height: 1.7;
        padding: 0 0px 0 0px;
    }

    #jugaad {
        position: relative;
        align-items: center;
        width: 90vw;
        margin: auto;
    }
    #myVideo {
        position: fixed;
        right: 0px;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 1;
        padding: 0;
        object-fit: cover;
    }

    .fix{
        position:fixed;
        bottom:10px;
        left:85%;
        z-index: 3;
        width: 15vw;
    }
}

@media (min-width:701px) and (max-width: 1300px){

    section {
        padding: 30px;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 10vw;
        color: #ffffff;
        font-weight: 100;
        padding: 50px;
    }

    p {
        font-size: 17px;
        font-family: 'Questrial', sans-serif;
        color: #ffffff;
        font-weight: 100;
        line-height: 1.7;
        padding: 0 50px 0 50px;
    }

    #jugaad {
        position: relative;
        align-items: center;
        width: 70vw;
        margin: auto;
    }
    #myVideo {
        position: fixed;
        right: 0px;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 1;
        padding: 0;
        object-fit: cover;
    }
    .fix{
        position:fixed;
        bottom:10px;
        left:85%;
        z-index: 3;
        width: 10vw;
    }
}